<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- HikariCP configuration -->
	<bean id="ds" class="com.zaxxer.hikari.HikariDataSource"
		destroy-method="shutdown">
		<property name="connectionTestQuery" value="SELECT 1" />
		<property name="maximumPoolSize" value="100" />
		<property name="minimumIdle" value="5" />
		<property name="autoCommit" value="false" />
		<property name="leakDetectionThreshold" value="60000" />
		<property name="dataSourceProperties">

			<!-- Dev Config -->
			<!-- <props> 
				<prop key="user">postgres</prop> 
				<prop key="password">p0stgR35_t3sT_p@55_2022</prop> 
				<prop key="url">jdbc:postgresql://34.87.184.130:5432/mfs</prop> 
			</props> -->

			<!-- local Config -->
			<!-- <props> <prop key="user">postgres</prop> <prop key="password">postgres</prop> 
				<prop key="url">jdbc:postgresql://localhost:5432/mfs</prop> </props> -->

			<!-- Prod Config -->
			<props>
				<prop key="user">postgres</prop>
				<prop key="password">fd5@p.@dm1n</prop>
				<prop key="url">jdbc:postgresql://35.241.122.188:5432/mfs</prop>
			</props>

			<!-- Prod RBI -->
			<!-- <props>
				<prop key="user">postgres</prop>
				<prop key="password">p0stgres</prop>
				<prop key="url">jdbc:postgresql://rbi-kplus.fortress-asya.com/mfs</prop>
				 <prop key="url">34.92.119.77</prop>
			</props> -->
		</property>
		<property name="dataSourceClassName"
			value="org.postgresql.ds.PGPoolingDataSource" />
	</bean>

	<bean id="propertyPlaceholderConfigurer"
		class="org.jasypt.spring.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="configurationEncryptor" />
		<property name="location" value="classpath:jdbc.properties" />
	</bean>

	<!--hibernate sqlSessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		p:dataSource-ref="ds"
		p:configLocations="classpath:hibernate-config.xml" depends-on="ds">
		<property name="packagesToScan">
			<list>
				<value>com.valuequest.entity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
				hibernate.query.substitutions=true
				hibernate.show_sql=true
			</value>
		</property>
	</bean>

	<!--transaction manager for Spring -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
